In [1]:
import pandas as pd
import numpy as np

In [7]:
ds = pd.read_csv("C:/Users/ayush/Downloads/Customers - Customers.csv")

In [10]:
shape = ds.shape

In [43]:
print(shape)

(2000, 8)

In [45]:
missing_values = ds.isnull().sum()
print(missing_values)

CustomerID                 0
Gender                     0
Age                        0
Annual Income ($)          0
Spending Score (1-100)     0
Profession                35
Work Experience            0
Family Size                0
dtype: int64

In [49]:
data_types = ds.dtypes
print(data_types)

CustomerID                 int64
Gender                    object
Age                        int64
Annual Income ($)          int64
Spending Score (1-100)     int64
Profession                object
Work Experience            int64
Family Size                int64
dtype: object

In [57]:
zeros_count = (ds == 0).sum()
print(zeros_count)

CustomerID                  0
Gender                      0
Age                        24
Annual Income ($)           2
Spending Score (1-100)      2
Profession                  0
Work Experience           431
Family Size                 0
dtype: int64

In [59]:
selected_data = ds.iloc[:5] 
print(selected_data)

   CustomerID  Gender  Age  Annual Income ($)  Spending Score (1-100)  \
0           1    Male   19              15000                      39
1           2    Male   21              35000                      81
2           3  Female   20              86000                       6
3           4  Female   23              59000                      77
4           5  Female   31              38000                      40

      Profession  Work Experience  Family Size
0     Healthcare                1            4
1       Engineer                3            3
2       Engineer                1            1
3         Lawyer                0            2
4  Entertainment                2            6

In [71]:
sorted_data = ds.sort_values(by=ds.columns[0])
print(sorted_data)

      CustomerID  Gender  Age  Annual Income ($)  Spending Score (1-100)  \
0              1    Male   19              15000                      39
1              2    Male   21              35000                      81
2              3  Female   20              86000                       6
3              4  Female   23              59000                      77
4              5  Female   31              38000                      40
...          ...     ...  ...                ...                     ...
1995        1996  Female   71             184387                      40
1996        1997  Female   91              73158                      32
1997        1998    Male   87              90961                      14
1998        1999    Male   77             182109                       4
1999        2000    Male   90             110610                      52

         Profession  Work Experience  Family Size
0        Healthcare                1            4
1          Engineer                3            3
2          Engineer                1            1
3            Lawyer                0            2
4     Entertainment                2            6
...             ...              ...          ...
1995         Artist                8            7
1996         Doctor                7            7
1997     Healthcare                9            2
1998      Executive                7            2
1999  Entertainment                5            2

[2000 rows x 8 columns]

In [73]:
summary_statistics = ds.describe()
print(summary_statistics)

        CustomerID          Age  Annual Income ($)  Spending Score (1-100)  \
count  2000.000000  2000.000000        2000.000000             2000.000000
mean   1000.500000    48.960000      110731.821500               50.962500
std     577.494589    28.429747       45739.536688               27.934661
min       1.000000     0.000000           0.000000                0.000000
25%     500.750000    25.000000       74572.000000               28.000000
50%    1000.500000    48.000000      110045.000000               50.000000
75%    1500.250000    73.000000      149092.750000               75.000000
max    2000.000000    99.000000      189974.000000              100.000000

       Work Experience  Family Size
count      2000.000000  2000.000000
mean          4.102500     3.768500
std           3.922204     1.970749
min           0.000000     1.000000
25%           1.000000     2.000000
50%           3.000000     4.000000
75%           7.000000     5.000000
max          17.000000     9.000000

In [75]:
unique_counts = ds.nunique()
data_format = ds.dtypes.astype(str)
print(data_format,unique_counts)

CustomerID                 int64
Gender                    object
Age                        int64
Annual Income ($)          int64
Spending Score (1-100)     int64
Profession                object
Work Experience            int64
Family Size                int64
dtype: object CustomerID                2000
Gender                       2
Age                        100
Annual Income ($)         1786
Spending Score (1-100)     101
Profession                   9
Work Experience             18
Family Size                  9
dtype: int64

In [77]:
df_converted = ds.copy()
for col in ds.select_dtypes(include=['float64', 'int64']).columns:
    df_converted[col] = ds[col].astype('int16') 
print(df_converted )

      CustomerID  Gender  Age  Annual Income ($)  Spending Score (1-100)  \
0              1    Male   19              15000                      39
1              2    Male   21             -30536                      81
2              3  Female   20              20464                       6
3              4  Female   23              -6536                      77
4              5  Female   31             -27536                      40
...          ...     ...  ...                ...                     ...
1995        1996  Female   71             -12221                      40
1996        1997  Female   91               7622                      32
1997        1998    Male   87              25425                      14
1998        1999    Male   77             -14499                       4
1999        2000    Male   90             -20462                      52

         Profession  Work Experience  Family Size
0        Healthcare                1            4
1          Engineer                3            3
2          Engineer                1            1
3            Lawyer                0            2
4     Entertainment                2            6
...             ...              ...          ...
1995         Artist                8            7
1996         Doctor                7            7
1997     Healthcare                9            2
1998      Executive                7            2
1999  Entertainment                5            2

[2000 rows x 8 columns]